// **************************************
// BUTTON STYLES
// **************************************

//button styles for project card overlay
.btn__full,
.btn__outline {
    @extend %btn-properties;
    transition: background-color .3s ease-in;
    &:hover {
        transition: background-color .3s ease-out;  
    }
}

.btn__full {
    background-color: $color-accent;
    &:hover {
        background-color: $color-accent-dark;
    }
}

.btn__outline {
    background-color: transparent;
    border: 1px solid $color-accent;
    color: $color-accent;
    &:hover {
       background-color: $color-accent;
       color: $white;
    }
}



