// **************************************
// BUTTON STYLES
// **************************************

//button styles for project card overlay
.btn__full {
    background: #17cf45;
    @extend %btn-properties;
}

.btn__outline {
    background: transparent;
    border: 1px solid #17cf45;
    color: #17cf45;
    @extend %btn-properties
}



