// **************************************
// IMAGE STYLES
// **************************************

.logo__img {
  width: 140px;
  height: auto;
  @include mq("md") {
    width: 110px;
  }
}

//Avatar image styling for reviews
.img__person {
  @include roundy($dim: 125px, $border: 1px solid $color-border-dark);
  z-index: 2;
}


.icon__feature{
  color: $color-accent;
  font-size: 4em;
}
