// **************************************
// IMAGE STYLES
// **************************************

.logo__img {
  width: 140px;
  height: auto;
  @include mq("md") {
    width: 130px;
  }
}

//Avatar image styling for reviews
.img__person {
  @include roundy($dim: 125px, $border: 1px solid $color-border-dark);
  z-index: 2;
}

// Styling for social media icons
.footer__icons {
  width: 100px;
  height: 100px;
  padding: 1em;
}
