// **************************************
// LAYOUT STYLES
// **************************************

/*------FLEXBOX LAYOUT STYLES-----------*/

//flex styles
.flex__container,
.flex__container--nav {
  @include flex_me($dir: column, $wrap: wrap, $vertAlign: center);
  @include mq('lg'){
    flex-direction: row;
    justify-content: space-between;
  }
  &--hero-box {
    align-items: center;
    justify-content: center;
    @include mq('lg'){
      flex-direction: column;
    }
  }
  &--city {
    width: 100%;
  }
}

/*------WRAPPER STYLES-----------*/
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2em;
  @include mq('lg'){
    padding: 0 4em;
  }
}

.col {
  width: inherit;
}
