// **************************************
// MAIN PAGE STYLES
// **************************************

/*-------Feature Section Styles----------*/
.feature__heading,
.steps__heading {
  display: none;
  @include mq("md") {
    display: inline;
  }
}

.long__copy {
  @include mq("md") {
    width: 60%;
    margin: 0em auto 3em auto;
  }
}

/*-------Meal Image Section Styles----------*/

.img__container--meals {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  font-size: 0;
}

.img__figure--meal {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

.container__meal--col {
  @include mq("md") {
    width: 50%;
  }
  @include mq("lg") {
    width: 25%;
  }
}

/*-------Step Section Styles----------*/

.flex__container__steps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include mq ('md') {
    flex-direction: row;
    justify-content: center;
  }
  @include mq ('lg') {
    justify-content: space-between;
  }
}

.container__phone {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq ('md') {
    flex-basis: 45%;
  }
  @include mq ('lg') {
    flex-basis: 50%;
  }
}

.container__section--preview{
  @include mq ('md') {
    flex-basis: 45%;
  }
  @include mq ('lg') {
    flex-basis: 50%;
  }
}


.container__steps {
  padding: 1em;
  text-align: center;
  p {
    @include mq ('md') {
      width: 70%;
      margin: 1em auto;
    }
  }
}

.container__steps--num {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #17cf45;
  border: 2px solid #17cf45;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 150%;
  padding: 1.5em;
  margin: 0 auto;
}

.container__apps--OS {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}


.omni-city {
  margin-bottom: 1.5em;
}

/*-------Testimonial Section Styles----------*/
.testimonial {
  @include mq('md') {
    justify-content: center;
  }
  @include mq('lg') {
    justify-content: space-between;
  }
  
}
.reviews {
  color: $white;
}

.review {
  margin: 1em 0;
}

/*-------Plan Section  Styles----------*/

.container__planbox {
  @include mq ('md') {
    justify-content: center;
  }
  @include mq ('lg') {
    justify-content: space-between;
  }
}

.planbox {
  background-color: $white;
  margin-bottom: 2em;
}

.container__top--box {
  padding: 1em;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.plan__price {
  font-size: 300%;
  margin-bottom: 5px;
  font-weight: 100;
  color: $color-accent;
}

.container__middle--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #e8e8e8;
}

.container__bottom--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

/*-------Form Section Class Styles----------*/

fieldset {
  border: none;
}

.inner-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label {
  margin: .5em 0;
}

input,
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.inner-flex:nth-child(4) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5em 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid $color-accent;
}

label[for="news"] {
  width: 45%;
}

textarea {
  margin-bottom: 1.5em;
  height: 100px;
}

.input-container {
  width: 45%;
  margin: .5em 0;
}

[type="checkbox"] {
  width: 10%;
  margin: 5px;
  // color: $color-accent;
}