// **************************************
// MAIN PAGE STYLES
// **************************************

/*-------Feature Section Class Styles----------*/
.feature__heading {
  display: none;
  @include mq ('md') {
    display: inline;
  }
}

.long__copy {
  @include mq ('md') {
    width: 60%;
    margin: 0em auto 3em auto;
  } 
}


/*-------About Me Section Class Styles----------*/



/*-------Skills Section Class Styles----------*/



/*-------Experience Section Class Styles----------*/



/*-------References Section Class Styles----------*/




/*-------Lets Get Connected Section Class Styles----------*/



