// **************************************
// NAVIGATION STYLES
// **************************************

/*-----Main nav styles-----*/

//main nav <ul> styles
.nav__wrapper {
  padding-top: 1em;
  height: 100%;
}

//main nav <li> styles
.nav__item {
  margin: 1em;
}

// <a> link styles
.nav__link {
  @extend %nav-link;
  color: $color-link-default;
  font-size: 1.2em;
}

// main nav SVG icons to the left of the links
.nav__icon {
  fill: $color-accent;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}
