// **************************************
// BASE STYLES
// **************************************

/*--------BASE ELEMENT STYLES--------*/
*{
    box-sizing: border-box;
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }

}

body{
    font-family: $font-stack-montserrat;
    transition: .5s;
}

main{
    background: $color-bg;
}

section{
    padding: 60px 0;
    &:nth-child(2){
        padding-bottom: 0;
    }
}

details {
    color: $white;
    transition: .7s;
    font-size: 1.7em;
}

::marker{
  display:none !important;
}

figure {
    background-color: transparent;
}

figcaption{
    color: white;
}

svg{
    width: 80px;
    max-width: 250px;
    max-height: 65px;
    @include mq ('md'){
        max-height: 95px;
    }
}


p {
    font-size: 113%;
    line-height: 145%;
  }

a{
    display: inline-block;
    padding: .6em; 
    text-decoration: none;  
}

footer{
    height: $footer-height;
    background: $color-bg-darkest;
    color: $color-text-light;
}

/*-----HEADINGS------*/    
h1,
h2,
h3,
h4,
h6,
summary{
    font-family: $font-stack-bangers;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  line-height: 1.4;
  margin-top: 2em;
}

h2 {
  font-size: 90%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #17cf45;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 120%;
}




